 .u-section-1 {
  background-image: url("images/Group58.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-table-1 {
  margin-top: 72px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-block-77da-89 {
  height: 46px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 24px 0 0 auto;
}