.u-section-1 .u-sheet-1 {
  min-height: 31px;
} .u-section-2 {
  background-image: url("images/Group38.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-form-1 {
  height: 241px;
  width: 570px;
  margin: 208px auto 60px;
}

.u-section-2 .u-label-1 {
  font-weight: 700;
}

.u-section-2 .u-label-2 {
  font-weight: 700;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}