 .u-section-1 {
  background-image: url("images/Group38.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 189px;
  height: 156px;
  margin: 133px auto 0 424px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-left: 351px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-left: 151px;
  }
}