 .u-section-1 {
  background-image: url("images/Group481.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 338px;
  height: 28px;
  margin: 26px auto 0 -35px;
}

.u-section-1 .u-image-2 {
  width: 338px;
  height: 24px;
  margin: 56px auto 0 -35px;
}

.u-section-1 .u-image-3 {
  width: 338px;
  height: 29px;
  margin: 69px auto 0 -35px;
}

.u-section-1 .u-form-1 {
  height: 331px;
  margin: -250px 455px 0 295px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 355px;
    margin-left: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 245px;
    margin-left: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
  }
}