 .u-section-1 {
  background-image: url("images/Group441.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 338px;
  height: 28px;
  margin: 23px auto 0 -36px;
}

.u-section-1 .u-image-2 {
  width: 338px;
  height: 24px;
  margin: 78px auto 0 -36px;
}

.u-section-1 .u-image-3 {
  width: 351px;
  height: 28px;
  margin: 60px auto 0 -36px;
}

.u-section-1 .u-form-1 {
  height: 595px;
  margin: -252px 430px 0 311px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-image-4 {
  width: 338px;
  height: 28px;
  margin: -277px auto 0 -36px;
}

.u-section-1 .u-image-5 {
  width: 338px;
  height: 29px;
  margin: 60px auto 0 -36px;
}

.u-section-1 .u-image-6 {
  width: 338px;
  height: 33px;
  margin: 60px auto 60px -27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 330px;
    margin-left: 211px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 220px;
    margin-left: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 130px;
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}