 .u-section-1 {
  background-image: url("images/Group57.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-form-1 {
  height: 155px;
  margin: -17px 730px 0 -14px;
}

.u-section-1 .u-image-1 {
  width: 338px;
  height: 24px;
  margin: -99px 347px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 338px;
  height: 27px;
  margin: 58px 347px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 338px;
  height: 33px;
  margin: 58px 347px 0 auto;
}

.u-section-1 .u-form-2 {
  height: 419px;
  --thumb-color: #478ac9;
  --thumb-hover-color: #77aad9;
  --track-color: #c0c0c0;
  --track-active-color: #478ac9;
  margin: -256px -12px 0 785px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  --progress: 0%;
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
}

.u-section-1 .u-image-4 {
  width: 305px;
  height: 25px;
  margin: -106px 380px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 24px 99px 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -45px 273px 0 auto;
}

.u-section-1 .u-table-1 {
  width: 431px;
  margin: -253px auto 52px 0;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 630px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 685px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 520px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 575px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-right: 430px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 202px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 202px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 202px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 485px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 235px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-right: 330px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 2px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 2px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 2px;
  }

  .u-section-1 .u-form-2 {
    margin-left: 385px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 35px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}